
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<div id="app">
    <about-component>
        <p>Hej her på about siden</p>
    </about-component>
</div>
@section scripts{
    <script src="@Url.Content("~/bundle/home.js")"></script>
}