@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
        <home-component>
            <p>Hej</p>
        </home-component>
    </div>
@section scripts{ 
<script src ="@Url.Content("~/bundle/home.js")"></script>
}
