@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>
            Hello there and welcome to Acme Corporation drawing site!
            You are here because you have bought one of out product
        </h3>
        <asp:Button id="b1" Text="To come " runat="server" />

    </div>
