
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<div id="app">
    <Login-component>
        <p>Hi on Log in page</p>
    </Login-component>
</div>
@section scripts{
    <script src="@Url.Content("~/bundle/home.js")"></script>
}
