
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    @section scripts{
        <script src="@Url.Content("~/bundle/home.js")"></script>
    }
</body>
</html>
